<header>
    <nav class="header-nav">
        <a href="/" class="header-title">Library</a>
        <ul>
            <li class="header-link"><a href="/authors">Authors</a></li>
            <li class="header-link"><a href="/authors/new">Add Authors</a></li>
            <li class="header-link"><a href="/books">Books</li></a>
            <li class="header-link"><a href="/books/new">Add Book</li></a>
        </ul>
    </nav>
</header>